<div class = "home">
<h1>Who We Are</h1>
<div class= "jumbotron center" >
<p>
<b> IT Arcade </b> is one of the fastest growing, USA based organization specializing in IT consulting and business services for mid to large organizations. Our Team has been providing consulting and professional services to our clients in a timely and cost effective manner. </p>

<p>
Our objective is to partner with our clients and deliver world-class professional consultants who will streamline their business operations. IT Arcade is able to provide very skilled professionals who are successful and quality conscious. Out team understands the information technology marketplace and has the ability to locate and deliver the top qualified resources, which have experience to transcend expectations of our clients.</p>

<p>
<b> IT Arcade </b> is a world class company which provides IT consulting and business services for mid to large organizations. We combine our in-depth domain knowledge with expertise in cutting edge information technology to deliver high-impact solutions that add value to the bottom-line of our clients. By partnering with leading companies, we help our clients transcend expectations. Today's competitive business environment demands the best.</p>

<p>
<b> IT Arcade </b> provides the experienced, highly skilled professionals and partner with innovative companies in a multitude of industries. Through our detailed understanding of client needs and competency requirements we are able to go beyond merely matching client specifications to skills sets. We focus on matching the client opportunity to the right type of consultant. We pride ourselves on the quality of our people and invest heavily in ensuring that they have the knowledge, skills and resources required to provide exceptional service. We offer a complete range of IT services and solutions in the areas of E-Business, Enterprise Application Integration, On-site Consulting, Application Development and Outsourcing and Packaged Software Implementation.
</p>


</div>
</div>

