<div class = "big_data_solutions-container">
	<h1>Big Data Solutions</h1>
	<hr class="featurette-divider">
	<!-- Jumortron -->
	<div class= "col-md-9" >	
		<img src="./assets/big_data_solutions.jpg", alt="Big Data Solutions", width=100%, height=400>
	
		<hr class="featurette-divider">
		<p>
			The big data is the data being collected by the social media sites and many other such resources to store tons and tons of data. By 2020 the volume of digital data is predicted to touch 30 trillion gigabytes. This data is highly complex and saturated, <b>IT Arcade </b> provides a tool to manage this database and garner profit out of it. </p>
			<p><b>IT Arcade </b> provides a descriptive analytics of the Data being spoke about you in the digital domain using Hadoop framework. The analytics helps you track the information, find source of information and make amends on the track of information.</p>
			
			<hr class="featurette-divider">
		</div>
		<!-- Side Navbar -->
		<div class = "col-md-3">
			<%= render 'layouts/side_nav'%>
		</div>

		

	</div>

