<div class = "business-solutions-container">
	<h1>Business Analytics </h1>
	<hr class="featurette-divider">
	<div class= "col-md-9">	
		<p class="business-par-1">
			Well designed BI applications can give anyone in your company the ability to make better decisions by quickly understanding the various “information assets” in your organization and how these interact with each other. These assets can include customer databases, supply chain information, personnel data, manufacturing, product data, sales and marketing activity, as well as any other source of information critical to your operation. A robust BI application, which includes integration and data cleansing functions, can allow you to integrate these disparate data sources into a single coherent framework for real-time reporting and detailed analysis by anyone in your extended enterprise – customers, partners, employees, managers, and executives.
		</p>
		<p>
			<b>IT-Arcade</b> can help you build a solution that enables your organization to gain insight into all the business KPI’s for better ROI.
		</p>
				<p>
					We are well experienced in modern technologies like Tableau, DOMO, Microsoft SSRS, MS Power BI, Crystal Reports, Active Reports etc. which can help you understand your data and garner profit out of it.
	
				</p>
						<hr class="featurette-divider">
	
					</div>
					<!-- Side Navbar -->
					<div class = "col-md-3">
						<%= render 'layouts/side_nav'%>
					</div>

				</div>
