<div class = "career-container">
<h1>Careers</h1>
<hr class="featurette-divider">
<img src="./assets/LaunchPad-Rocket-icon.png" alt="Application Development" width="256", height="256">
<div class= "career-content" >	
<p>
No matter where your career path may lead you, if you’re looking for a job that inspires. We can help guide you to a destination that will match your personal preferences and fulfill your professional goals. <b>IT-Arcade</b> wants to help you do your best - right from the start by providing you with the resources you need to gain a competitive advantage, training you need to update or refresh your skills. We hope to help you take the next step in your career. </P>
<p>
Are you ready to sky rocket your career or have a question? Submit your resume or contact us at <u>Careers@IT-Arcade.com </u></p>

<p>We would love to hear from you!</p>

</div>
</div>

</div>