<div class = "cloud-solutions-container">
<h1>Cloud Solutions</h1>
<div class= "jumbotron" >	
	<img src="./assets/amazon_web.jpg", alt="Amazon Cloud", width="256", height="256">
	<img src="./assets/sales_force.jpg", alt="Salesforce",  width="256", height="256">
	<img src="./assets/windows_azure.jpg", alt="Windows Azure", width="256", height="256">
	<hr class="featurette-divider">
<p>
<b>IT Arcade </b> provides cloud planning and implementation solutions to help you navigate your journey to the cloud. IT Arcade Consulting Services are based on implementation best practices and will help minimize risk when navigating the many complexities involved in building and operating a cloud. By teaming our expert consultants with your IT leaders, we can help you stand up and integrate the optimal cloud environment to facilitate your strategic and technical business requirements.</p>

</div>

</div>
