<div class = "cloud-solutions-container">
<h1>Enterprise Portals</h1>
<hr class="featurette-divider">
<div class= "col-md-9">	
	<img src="./assets/java_solutions.jpg", alt="Java Solutions", width="200", height="200">
	<img src="./assets/net_solutions.jpg", alt=".Net Solutions",  width="200", height="200">
	<img src="./assets/liferay_solutions.jpg", alt="Liferay Solutions", width="200", height="200">
	<hr class="featurette-divider">
<p>
<b>IT Arcade </b> offers a vast range of services to accomplish enterprise portal development for businesses of small to medium sizes. SAAS centric portal by <b>IT Arcade </b> will help your organization accomplish your goals efficiently and effectively. Ranging from information management to high-end web services, custom portals by <b>IT Arcade </b> will help your organization fulfill your growth target.

Enterprise portals will enable your employees and customers to be organized, streamlined and connected. IT Arcade’s Enterprise Portal Development Services offer state of the art portal development starting from requirement definition to deployment and training. We closely work with our clients to identify their domain and business specific objectives, and streamline the project requirements. Our interactive development process allows our representatives to work closely with the client to enable 100% custom project development according to the client’s business requirements.</p>
<hr class="featurette-divider">

</div>


<hr class="featurette-divider">
	
</div>
		<!-- Side Navbar -->
		<div class = "col-md-3">
			<%= render 'layouts/side_nav'%>
		</div>

</div>