<hr class="featurette-divider">
<div class = "performance-solutions-container">
<h1>Performance Tuning </h1>
<hr class="featurette-divider">
<div class= "col-md-9">	
<p class ="per-1">
<b>IT Arcade</b> offers database performance tuning services that can help enterprises to uncover the bottlenecks impacting the performance of your database to improve efficiency and ensure that your database supports and meets your business requirements. We analyze every aspect of database including architecture, design, misconfigured setting, event logs, trace logs, server infrastructure and end users problems.
</p>
<p class = "per-2">
Our team of experts with deep technical understanding of the core components of database engines makes all the difference. As a result you will be able to:
<ul>
	<li>Reduce down time </li>
	<li>Increase redundancy across your database environment </li>
	<li>Provide better scalability, increase business agility, as well as quicker performance triage capabilities </li>
	<li> Lower the total cost of ownership across a database environment</li>
	<ul>
<p>
<hr class="featurette-divider">
	
</div>
		<!-- Side Navbar -->
		<div class = "col-md-3">
			<%= render 'layouts/side_nav'%>
		</div>

</div>
