<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Subject: <%= @msg.subject</p>br
    <p><%= @msg.content</p>
  </body>
</html>
