
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		<li data-target="#carousel-example-generic" data-slide-to="3"></li>
	</ol>
 
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="./assets/web_portal_development.jpg" alt="consulting">
			<div class="carousel-caption">
				<h3>Consulting</h3>
			</div>
		</div>
		<div class="item">
			<img src="./assets/consulting_carousel.jpg" alt="consulting1">
			<div class="carousel-caption">
				<h3>Consulting1</h3>
			</div>
		</div>
		<div class="item">
			<img src="./assets/staffing_carousel.jpg" alt="Staffing">
			<div class="carousel-caption">
				<h3>Staffing</h3>
			</div>
		</div>
		<div class="item">
			<img src="./assets/goals_carousel.jpg" alt="Goals">
			<div class="carousel-caption">
				<h3>Goals</h3>
			</div>
		</div>
	    
	</div>
 
	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div> <!-- Carousel -->